#contact {
  @include bloc-position-contact;
  & div {
    & li {
      list-style-type: none;
    }
    & img {
      width: 50px;
    }
    & h2 {
      font-size: xx-large;
    }
  }
  & img {
    width: 35vh;
    margin-right: 10vh;
  }
}
