#presentation{
    @include bloc-position;
    & div{
        margin-right: 10vh;
        & a {
            text-decoration:none;
            color: #0091CC;
        }
    }
    & img{
        margin-right: 10vh;
    }
}